@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  cursor: default;
}

html {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.01);
  color: rgba(64, 64, 64, 0.90);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}
